<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Final Project</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            
            <% if(typeof(user) != 'undefined' && user) { %>
                <li class="nav-item">
                        <a class="nav-link" href="/api/signout">Sign out</a>
                    </li>
            <% if(user.role =='user') { %>
            <li class="nav-item">
                <a class="nav-link" href="/api/user/dashboard">Dashboard</a>
            </li>
            }
            <% } %>
            <% if(user.role =='admin') { %>
            <li class="nav-item">
                <a class="nav-link" href="/api/admin/dashboard">Dashboard</a>
            </li>
            <% } %>

            <% } else { %>

            <li class="nav-item">
                <a class="nav-link" href="/api/signin">Sign-in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/signup">Sign-up</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<br>